extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 11 januari
            h3 Aardobservatie
            p.tijd 20:00 - 22:00
        .image
            img(src="images/NASA_Sees_Fields_of_Green_Spring_up_in_Saudi_Arabia_(7027523783).jpg" width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")

