extends ../templates/template-2015-01.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 27 juni
            h3 Cluedo
            p.tijd 20:00 - 22:00

            
