extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info(style="width:100%;")
            h2 Zaterdag <u>17</u> december
            h3 Filmavond
            p.tijd <u>19:30</u> - 22:00

