extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 09 maart
            h3 Wintertijd, zomertijd, zin en onzin
            p.tijd 20:00 - 22:00
        .image
            img(src="images/Station_Clock.png" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
            p.license [<a href="https://creativecommons.org/licenses/by-sa/2.5">CC BY-SA 2.5</a>], <a href="https://commons.wikimedia.org/wiki/File:Station_Clock.svg">via Wikimedia Commons</a>
