extends ../templates/template-2018-04.pug

block content  
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag <u>06</u> oktober
            h3 Leonardo da Vinci &amp; Wetenschap
            p.tijd 20:00 - 22:00
        .image
            img(src="images/ninja_turtles.png" width="350px", style="width: 350px; margin-left:auto;margin-right:auto;")
            p.license By Randal Munroe, xkcd.com [<a href="https://creativecommons.org/licenses/by-nc/2.5/">CC BY-NC 2.5</a>], <a href="https://xkcd.com/197/">xkcd: Ninja Turtles</a>
        
    section
        p.activiteit-type(data-type="MIRA")
        .info
          h2 Zaterdag 20 oktober
          h3 Nacht van de Duisternis
          p.tijd 19:00 - 23:00

        .image
          img(src="images/nachtduisternis.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
