extends ../templates/template-2015-11.pug
block content
    section.video
            video
                source(src="video/Wall-E_Vacuum_Cleaner.mp4", type="video/mp4")
                | Your browser does not support the video tag.    
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 10 december
            h3 Astrocinema
            p.tijd 19:30 - 22:00

        .image
            img(src="images/Wall-E_Cubecolors.jpg", width="10px", style="width: 400px; margin-left:auto;margin-right:auto;")
