extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 12 mei
            h3 The Eggful Marslander
            p.tijd 20:00 - 22:00
        .image
           img(src="images/800px-593484main_pia14839_full_Curiosity's_Sky_Crane_Maneuver,_Artist's_Concept.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
