extends ../templates/template-2015-01.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 14 maart 2015
            h3 Robots, en de opwarming van de Aarde.
            p.tijd 20:00 - 22:00

    section
        p.activiteit-type(data-type="Varia")

        .info
            h2 20 maart 2015
            h3 Gedeeltelijke Zonsverduistering
            p.tijd 9:30 - 11:30

    section
        .info
            h2 Dienstmededeling
            p Vergeet je lidmaatschap niet te vernieuwen!
