extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
      .info
         h2 Zaterdag 10 juni
         h3 De hubbleconstante
         p.tijd 20:00 - 22:00

      .image
         img(src="images/CMB_Timeline300_no_WMAP.jpg" width="400", style="width: 400px; margin-left:auto;margin-right:0;")
