extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 10 maart
            h3 Leefbare Exoplaneten
            p.tijd 20:00 - 22:00
        .image
           img(src="images/Planets_everywhere_(artist_u2019s_impression).jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")

    section
      .service-announcement
        h2 Dienstmededeling
        p Vergeet je lidmaatschap niet te vernieuwen!
