extends ../templates/template-2015-01.pug
block content
    section.video
        video(muted controls)
           <source src="video/Modelraketten_1.mp4" type="video/mp4"/>

    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 04 april 2015
            h3 Workshop Modelraketbouw
            p Inschrijven verplicht! Zie website.
            p.tijd 11:00 - 18:00

    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 11 april 2015
            h3 Morsecode*
            p.tijd 20:00 - 22:00
