extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag <u>05</u> oktober
            h3 Fantastic Transistors and Where to Find Them
            p.tijd 20:00 - 22:00
        .image
            img(src="images/320px-IGFET_P-Ch_Enh_Labelled.svg.png" width="320px", style="width: 320px; margin-left:auto;margin-right:auto;background-color:aliceblue;")
