extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
      .info(style="width: 100%")
         h2 Zaterdag 05 oktober
         h3 10 aanwijzingen dat <br/> de Aarde rond is
         p.tijd 20:00 - 22:00

