extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag <u>30</u> juni
            h3 Proefjesavond
            p.tijd 20:00 - 22:00
        .image
           img(src="images/IMG_9556_1280.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
