extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
      .info(style="width: 700px")
         h2 Zaterdag 07 oktober
         h3 Willekeurige Dingen
         p.tijd 20:00 - 22:00
      .image
         img(src="images/noise.png" width="400", style="width: 400px; margin-left:auto;margin-right:0;")

    section
      .service-announcement
        h2 Join the Dark Side!
        p De leiding is op zoek naar versterking.

