extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA")
        .info
            h2 Vrijdag 15 maart
            h2 Zaterdag 16 maart
            h3 Sterrenkijkdagen
            p.tijd Vanaf 19:00
        .image
            img(src="images/stellarium-2019-03-15T1930.png" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
            
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 13 april
            h3 Bijen, en andere dingen die zoemen
            p.tijd 20:00 - 22:00
        .image
            // https://pixabay.com/nl/photos/bijen-bijenkorf-honing-zwerm-bijen-326337/
            img(src="images/honey-bees-326337_1920.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
                      
