extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 08 mei
            h3 Hoe werkt een raket? <small style="font-size:50%;">& Ruimteafval</small>
            p.tijd 20:00 - 21:00
        .image
            img(src="images/Antares_Orb-3_launch_failure_(201410280009HQ).jpg" width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
