extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
      .info
         h2 Zaterdag 13 mei
         h3 Deeltjesversnellers
         p.tijd 20:00 - 22:00

      .image
         img(src="images/Views_of_the_LHC_tunnel_sector_3-4,_tirage_1.jpg" width="400", style="width: 400px; margin-left:auto;margin-right:0;")
         p.license(style="text-align:right") <a href="https://commons.wikimedia.org/wiki/File:Views_of_the_LHC_tunnel_sector_3-4,_tirage_1.jpg">Maximilien Brice, CERN</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, via Wikimedia Commons
