extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 14 april
            h3 Hoe zag de toekomst er vroeger uit?
            p.tijd 20:00 - 22:00
        .image
           img(src="images/Back_to_the_Future.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
