extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 10 februari
            h3 BOBjes aan de hemel
            p.tijd 20:00 - 22:00
        .image
           img(src="images/Andromeda_Galaxy_(with_h-alpha).jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
   
    section
      .service-announcement
        h2 Dienstmededeling
        p Vergeet je lidmaatschap niet te vernieuwen!

    
