extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 13 januari
            h3 Stormen en klimaatopwarming
            p.tijd 20:00 - 22:00
        .image
           img(src="images/Hurricane_Elena.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
   

    
