extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="Varia")
        .info
            h2 Vrijdag 03 maart en Zaterdag 04 maart.
            h3 Sterrenkijkdagen.
            p.tijd 19:00 - 23:00

        .image
            img(src="images/sterrenkijkdagen.png", width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")

    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 11 maart
            h3 Waarnemen voor dummies
            p.tijd 20:00 - 22:00

        .image
            img(src="images/IMG_9417.JPG", width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
