extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 11 november
            h3 Najaarswedstrijd
            p.tijd 20:00 - 22:00
    
        .image
            img(src="images/IMG_9290_1280.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
    
