extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA")
        .info
            h2 Vrijdag 11 maart & Zaterdag 12 maart
            h3 Sterrenkijkdagen
            p.tijd 19:00 - 23:00
             
        .image
            img(src="images/skd2016_affiche_web.png")
        
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 09 april
            h3 Gezelschapsspelletjes
            p.tijd 20:00 - 22:00
