extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 01 oktober
            h3 De wet van behoud van impulsmoment
            p.tijd 20:00 - 23:00
      
        .image
            img(src="images/gyroscopes-r.png")

    section
        p.activiteit-type(data-type="MIRA")
        .info
            h2 Zaterdag 08 oktober
            h3 Nacht van de Duisternis
            p.tijd 19:00 - 22:00
            
        .image
            img(src="images/nvdd.jpg")
