extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 13 mei
            h3 Waterraketten
            p.tijd 20:00 - 22:00
    
        .image
            img(src="images/IMG_6588_1280.jpg", width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
    
    section.video
        video
            <source src="video/MIRA_Crowdfunding.mp4" type="video/mp4"/>
        
    section    
        .service-announcement
            h2 50 cm voor 50 jaar MIRA
            p Spread the Word!
            
