extends ../templates/template-2015-09.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 03 oktober
            h3 Notaris in de Ruimte
            p.tijd 20:00 - 22:00
    
    section 
        p.activiteit-type(data-type="MIRA")
        
        .info
            h2 10 oktober
            h3 Nacht van de Duisternis
            p.tijd 19:00
            
    section 
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        
        .info 
            h2 28 november
            h3 Sterrenspecialist 2015
            p.tijd 19:30 - 22:00
            
    section
        div.center(style="width:900px") 
            img(src="images/IMG_7235.JPG", width="400px", style="float: left; margin: 5px;")
            img(src="images/IMG_6205_red_eye_removal_1280.jpg", width="400px", style="float: left; margin: 5px;")
            div(style="clear:both;")
        
        ul.center(style="width:900px")
            li Presentatie over sterrenkundig onderwerp, <br/> zelf te kiezen
            li 15 minuten
            li Alleen of in groepjes van twee
            li Mooie prijzen voor alle deelnemers 
            
    section.overzicht
        .list-wrapper
            ul
                li
                    span.datum 2015-10-03
                    | MIRA Jeugdkern 
                li
                    span.datum 2015-10-10
                    | Nacht van de Duisternis
                li 
                    span.datum 2015-11-28
                    | MIRA Jeugdkern Sterrenspecialist 
                  
    section
        h2 Uitlenen Telescopen
        ul 
            li Gratis voor jullie!
            li 1 Maand
            li 
                a(href="http://www.mira.be/nl/verhuur") http://www.mira.be/nl/verhuur
        
        div.center(style="width:800px") 
            img(src="images/IMG_7559.JPG", width="400px", style="float: left; margin: 5px;")
            img(src="images/25cm_Darkstar_dobson.jpg", width="300px", style="float: left; margin: 5px;")
