extends ../templates/template-2015-11.pug
block content
    section 
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 12 november
            h3 Najaarswedstrijd
            p.tijd 20:00 - 22:00

        .image
            img(src="images/Wall-E_Cubecolors.jpg", width="10px", style="width: 400px; margin-left:auto;margin-right:auto;")
