extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 14 januari
            h3 Back to 2016, Forward to 2017.
            p.tijd 20:00 - 22:00

        .image
            img(src="images/Back_to_the_Future.jpg", width="10px", style="width: 400px; margin-left:auto;margin-right:auto;")

    section
        .service-announcement
            h2 Dienstmededeling
            p Vergeet je lidmaatschap niet te vernieuwen!
