extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA")
        .info(style="width: 100%")
            h2 Zaterdag 17 september
            h3 Klimaatdag
            p.tijd 10:00 - 18:00

    section.image
      img.center(src="images/Klimaatdag infopaneel_0.jpg" width="1028")

    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 01 oktober
            h3 Kleurenblindheid
            p.tijd 20:00 - 22:00
        .image
            img(src="images/Ishihara_9.svg.png" width="480", style="width: 480px; margin-left:auto;margin-right:auto;")


