extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 09 september
            h3 Instapdag
            p.tijd 20:00 - 22:00
            
            p(style="margin-left:10px; font-size: 30px;") Breng een vriendje of vriendinnetje mee! ;) 
    
        .image
            img(src="images/Apollo_11_bootprint.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
    
    section
        h1 Seizoen v.d. Lichtende Nachtwolken geopend.
        img(src="images/nlc.jpg", width="650px", style="width: 650px; margin-left:auto;margin-right:auto;")
    
        p 
          | Lichtende Nachtwolken zijn héél hoge, uiterst ijle wolken die nog verlicht worden door de Zon.
          | Normale wolken zitten slechts enkele kilometer hoog, 
          | NLC's zitten typisch op zo'n 80 km boven het aardoppervlak. 

    section
        img(src="images/schema-nlc.png", width="650px", style="width: 650px; margin-left:auto;margin-right:auto;")
        
        p Aangezien de Zon in dit seizoen slechts enkele graden onder de horizon duikt, worden ze op die hoogte nog volop verlicht.
