extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 11 september
            h3 ???
            p.tijd 20:00 - 21:00
        .image
            img(src="images/20190410-78m-4000x2330.jpg" width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
