extends ../templates/template-2018-04.pug

block content          
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag <u>29</u> juni  
            h3 De eerste maanlanding
            p.tijd 20:00 - 22:00
        .image
            img(src="images/668px-Apollo_11_Lunar_Module_Eagle_in_landing_configuration_in_lunar_orbit_from_the_Command_and_Service_Module_Columbia.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
