extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 12 januari
            h3 Telescopen voor Beginners
            p.tijd 20:00 - 22:00
        .image
            img(src="images/IMG_9549_1280.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
            
