extends ../templates/template-2015-09.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 14 november
            h3 Najaarswedstrijd
            p.tijd 20:00 - 22:00
    
    section 
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        
        .info 
            h2 28 november
            h3 Sterrenspecialist 2015
            p.tijd 19:30 - 22:00
            
    section
        div.center(style="width:900px")
            img(src="images/IMG_7235_1280.jpg", width="400px", style="float: left; margin: 5px;")
            img(src="images/IMG_6205_red_eye_removal_1280.jpg", width="400px", style="float: left; margin: 5px;")
            div(style="clear:both;")
        
        ul.center(style="width:900px")
            li Presentatie over sterrenkundig onderwerp, <br/> zelf te kiezen
            li 15 minuten
            li Alleen of in groepjes van twee
            li Mooie prijzen voor alle deelnemers 
