extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 02 oktober
            h3 Contact met Buitenaards Leven
            p.tijd 20:00 - 22:00
