extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 13 februari
            h3 Dwergplaneten
            p.tijd 20:00 - 21:00
        .image
            img(src="images/480px-Pluto_in_True_Color_-_High-Res.jpg" width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
