extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA")
        .info
          h2 Morgen: Zondag 01 juli
          h3 Zonnekijkdag
          p.tijd 10:00 - 18:00 (Doorlopend)
        
        .image
          img(src="images/640px-Sunset_1140711.JPG" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
          p.license © Nevit Dilmen [<a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a> or <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>], <a href="https://commons.wikimedia.org/wiki/File:Sunset_1140711.JPG">from Wikimedia Commons</a>
    
    section
        p.activiteit-type(data-type="MIRA")
        .info
          h2 Vrijdag 27 juli
          h3 Maansverduistering
          p.tijd 19:00 - 01:00
        
        .image
            img(src="images/Lunar_Eclipse_-_September_27_2015_-_Diagonal_Progression_(21612493410).jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")  
            p.license By Eric Kilby from Somerville, MA, USA [<a href="https://creativecommons.org/licenses/by-sa/2.0">CC BY-SA 2.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Lunar_Eclipse_-_September_27_2015_-_Diagonal_Progression_(21612493410).jpg">via Wikimedia Commons</a>
    
    
    section
        p.activiteit-type(data-type="MIRA")
        .info
          h2 3, 4, en 5 augustus
          h3 Midzomersterrennachten
          p.tijd 22:00 - 01:00 (Doorlopend)
        
        .image
          img(src="images/IMG_7360 resize_0.preview.JPG" width="250px", style="width: 250px; margin-left:auto;margin-right:auto;")  
                
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 08 september
            h3 Startdag
            p.tijd 20:00 - 22:00
            p(style="margin-left:10px; font-size: 30px;") Breng een vriendje of vriendinnetje mee! ;)
        .image
           img(src="images/Apollo_11_bootprint.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
             
             
    section.overzicht
      .list-wrapper
        ul
          li
            span.datum 2018-07-01
            | Zonnekijkdag
          li
            span.datum 2018-07-27
            | Maansverduistering
          li 
            span.datum 2018-08-03 / 2018-08-04 / 2018-08-05
            | Midzomersterrennachten
          li 
            span.datum 2018-09-08
            | MIRA Jeugdkern : Startdag
