extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 11 februari
            h3 Zwaartekrachtgolven & Ruimtefails.
            p.tijd 20:00 - 22:00

        .image
            img(src="images/Rocket_Explosion.jpg", width="10px", style="width: 400px; margin-left:auto;margin-right:auto;")

    section
        .service-announcement
            h2 Dienstmededeling
            p Vergeet je lidmaatschap niet te vernieuwen!
