extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 02 december
            h3 Filmavond
            p.tijd 19:30 - 22:00
    
