extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 12 juni
            h3 Sterren en Sterrenbeelden
            p.tijd 20:00 - 21:00
        .image
            img(src="images/stellarium-000.png" width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
