extends ../templates/template-2018-04.pug

block content          
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 11 mei
            h3 De absurde hypothetische vragen show
            p.tijd 20:00 - 22:00
