extends ../templates/template-2015-01.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 14 februari 2015
            h3 Fenomenen in de hoge atmosfeer
            p.tijd 20:00 - 22:00
