extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA")
        .info(style="width:100%;")
            h2 Zaterdag 08 oktober
            h3 Nacht van de Duisternis
            p.tijd 19:00 - 23:00

    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info(style="width:100%;")
            h2 Zaterdag 12 november
            h3 Quiz
            p.tijd 20:00 - 22:00


