extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")

        .info
            h2 Zaterdag 09 Januari
            h3 Back to 2015
            p.tijd 20:00 - 22:00
        
        .image
            img(src="images/Back_to_the_Future.jpg")
