extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA")
        .info
          h2 Zaterdag 20 oktober
          h3 Nacht van de Duisternis
          p.tijd 19:00 - 23:00

        .image
          img(src="images/nachtduisternis.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
    
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 10 november
            h3 Najaarswedstrijd
            p.tijd 20:00 - 22:00
        .image
          img(src="images/raket.png" width="300px", style="width: 300px; margin-left:auto;margin-right:auto;")
        
