extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 08 april
            h3 Wonen in de ruimte 
            p.tijd 20:00 - 22:00

        .image
            img(src="images/Space_station_v.jpg", width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
