extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info(style="width: 100%")
            h2 Zaterdag 10 september
            h3 Op zoek naar de sterren
            p.tijd 20:00 - 22:00
