extends ../templates/template-2018-04.pug

block content
    section
        p.activiteit-type(data-type="MIRA")
        .info
            h2 Zaterdag 13 juli  
            h3 Film- en Maanwaarnemingsavond
            p.tijd 20h30 - 02h30
        .image
            img(src="images/The_Dish.jpg" width="300px", style="width: 300px; margin-left:auto;margin-right:10;")
    
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 14 september
            h3 Startdag
            p.tijd 20:00 - 22:00
        .image
            img(src="images/Apollo_11_bootprint.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
