extends ../templates/template-2015-11.pug
block content
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 24 juni
            h3 Ruimtevaart: <br/> Made in China
            p.tijd 20:00 - 22:00
    
        .image
            img(src="images/launch.jpg", width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
   
