extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 14 december
            h3 Astrocinema
            p.tijd <u>19:30</u> - 22:00
        .image
            img(src="images/raket.png" width="300px", style="width: 300px; margin-left:auto;margin-right:auto;")
          
