extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 10 april
            h3 Planeet X
            p.tijd 20:00 - 21:00
        .image
            img(src="images/Orbits_1280_PlanetX2.jpg" width="500px", style="width: 500px; margin-left:auto;margin-right:auto;")
