extends ../templates/template-2018-04.pug

block content
    section
      p.activiteit-type(data-type="MIRA_Jeugdkern")
      .info(style="width: 100%")
         h2 Zaterdag 09 september
         h3 Startdag
         p.tijd 20:00 - 22:00

