extends ../templates/template-2017-09.pug

block content
    section
        p.activiteit-type(data-type="MIRA")
        .info
            h2 30 september &amp; <br/> 01 oktober
            h3 Feest 50 jaar MIRA
            
        p
            img(src="images/feest-MIRA-flyer.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
            
    section
        p.activiteit-type(data-type="MIRA_Jeugdkern")
        .info
            h2 Zaterdag 07 oktober
            h3 Everything wrong with... Science Fiction
            p.tijd 20:00 - 22:00
    
        .image
            img(src="images/starwars_droids.jpg" width="450px", style="width: 450px; margin-left:auto;margin-right:auto;")
            p 
                i Everything cute about Science Fiction
    
